section {
  @include sectionCommonStyles(column, #999);

  h1 {
    color: $titleColor;
  }

  p {
    font-family: $basicFont;
  }

  form {

    border: 1px solid red;

    button {
      border: 1px solid $titleColor;
    }

  }
}
