body {

}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: #2d1e70;

    &:hover {
      color: #624ebe;
    }

    &::after{
      content: "title";
    }

  }

  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}

section {
  h1 {
    color: #2d1e70;
  }

  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  form {

    border: 1px solid red;

    button {
      border: 1px solid #2d1e70;
    }

  }
}

footer {

  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  a {
    color: #2d1e70;
  }
}
