body {

}

header {

}

header h1 {
  color: #2d1e70;
}

header p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {

}

section h1 {
  color: #2d1e70;
}

section p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section form button {
  border: 1px solid #2d1e70;
}

footer {

}

footer p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer a {
  color: #2d1e70;
}
